<h1>Selecteaza data si ora filmului</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  Film: <%= %> <br><br>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :date %>
      <%= f.collection_select :rf, :rf. %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>